################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/LatestGames/obj
*.suo
/LatestGames/bin
*.mpe1
